*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: oxu-az;
    src: url(../fonts/PfdintextcondproMedium.ttf);
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
}


.img-box{
    width: 620px;
    height: 413px;
    position: relative;
}


.date-time{
    font-family: oxu-az;
    height: 40px;
    width: 225px;
    padding: 7px 20px 7px 20px;
    background-color: rgba(24, 148, 160, 0.8);
    font-size: 20px;
    line-height: 26px;
    position: absolute;
    display: flex;
    align-items: center;
    color:  white;
    left: 0;
    bottom: 0;
}


.date-time .date{
    margin-left: 15px;
}


.date-time .time{
    margin-left: 15px;
}


.date-time .views{
    margin-left: 15px;
}


.title{
    width: 620px;
    height: 90px;
}

.title .title-content{
    font-family: oxu-az;
    padding: 0px 20px;
    font-size: 24px;
    line-height: 30px;
    height: 90px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
    color: white;
}