*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgrey;
}

.sidebar{
    width: 27vw;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: white;
    padding-bottom: 50px;
}

.menu{
    display: flex;
    flex-direction: column;
}

.nav-item{
    display: inline-block;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

/* .border-btm{
    width: 25%;
    height: 3px;
    background-color: orange;
    border-radius: 3px;

} */


.nav-item::before{
    content: "";
    margin-bottom: -2px;
    width: 25%;
    height: 3px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    border-radius: 3px;
}


.nav-item:hover::before{
    width: 100%;
    transition: 0.4s;
}